/* стили для секции ABOUT */

.site-container--background {

}

.about-section__wrapper {
 padding: 0;
  font-size: 0;

  /* width: 100%; */

  background-image: url('../images/about-background.png');
  background-repeat: no-repeat;
  background-size: contain;
  /* background-position: center 0px; */
}


.about-section__title {
  margin: 0;
  padding: 28px 0 46px 71px;

  font-family: Gilroy;
  font-size: 45px;
  font-weight: 700;
  line-height: 85%; /* 38.25px */
  text-transform: uppercase;
  color: #465067;
}
.about-section__content {
  padding: 0 70px 100px 70px;
  gap: 30px;
  display: flex;

}

.about-section__text {
  max-width: 500px;
}

.about-section__subtitle {
  margin: 0;
  padding-bottom: 19px;

  font-family: Gilroy;
  font-size: 25px;
  font-weight: 700;
  line-height: 31px;
  color: #54994B;
}
.about-section__descr {
  margin: 0;

  color: #272727;
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}

.about-section__descr:not(:last-child) {
margin-bottom: 19px;
}


.about-section__img {
max-width: 500px;
}
